{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["xcconfig", "Flutter", "generated", "configuration", "build settings"], "state": 2, "file_id": 48, "knowledge_revision": 185, "git_revision": "", "hash": "ab0f42de9c9c817c3faf6a4bb7b55a12", "format-version": 4, "code-base-name": "default", "filename": "financeease/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"185": ""}]}