{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 108, "knowledge_revision": 248, "git_revision": "", "hash": "5796f55058cbc851bd9ed892404e0da3", "format-version": 4, "code-base-name": "default", "filename": "financeease/windows/runner/Runner.rc", "revision_history": [{"248": ""}]}