{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 7, "knowledge_revision": 142, "git_revision": "", "hash": "69e98f3c778902ca928ec04e6db5d298", "format-version": 4, "code-base-name": "default", "filename": "financeease/ios/Flutter/Generated.xcconfig", "revision_history": [{"142": ""}]}