{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 60, "knowledge_revision": 201, "git_revision": "", "hash": "ce999f875c7be4067efaef10cd6f8fd8", "format-version": 4, "code-base-name": "default", "filename": "financeease/macos/Runner/Configs/AppInfo.xcconfig", "revision_history": [{"201": ""}]}