{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 44, "knowledge_revision": 179, "git_revision": "", "hash": "bfe320a376f522d927b36743d7cfef29", "format-version": 4, "code-base-name": "default", "filename": "financeease/ios/Runner/Info.plist", "revision_history": [{"179": ""}]}